* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.container {
    max-width: 80vh;
    border: 1px solid black;

}

/* estilisando o header */


/* estilisando o conteúdo do site */


/* estilisando o aside */
.aside {
    
}

/* estilisando o footer */
footer {
    
}

/* Tamanhos de telas para responsividade:
    1920 x 1080
    1680 x 1050
    1400 x 1050
    1280 x 1024
    1280 x 960
    1024 x 768
    800 x 600 */